
@{
    ViewData["Title"] = "Secure";
}

<h1>Secure</h1>
<div>
    <h1>welcome @User.Identity.Name</h1>
    @foreach (var c in User.Claims)
    {
        <p>@c.Type: @c.Value</p>
    }
</div>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
